.edit-container {
  padding: 20px;
}

.booking-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.booking-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.booking-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #0056b3;
}

.timepicker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Horizontally align components */
  align-items: center;

}

.timepicker-column {
  margin-top: 10px;
  margin-bottom: 20px;
  /* Add space between the two TimePicker components */
}

.timepicker-container {
  padding: 1rem;
}

.timepicker-input {
  color: black;
  /* Default text color */
  border: 1px solid #ccc;
  /* Default border color */
  padding: 8px;
  /* Adjust padding as needed */
  width: 100%;
  /* Full width */
  box-sizing: border-box;
  /* Include padding and border in width */
}

.border-changed {
  border-color: red;
  /* Custom border color */
}